
<br />

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Food</h3>
            </div>


            <form>
                <div class="card-body">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name...">
                    </div>

                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter type...">
                    </div>

                    <label>Description</label><br />
                    <textarea class="form-control" id="description" name="description" placeholder="Enter description..." style="height:100px; width:-webkit-fill-available;" spellcheck="false"></textarea>

                    <br />

                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label>Calories per 100 grams</label>
                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter calories...">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label>Protein per 100 grams</label>
                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter protein...">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label>Carbs per 100 grams</label>
                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter carbs...">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label>Fat per 100 grams</label>
                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter fat...">
                            </div>
                        </div>

                    </div>


                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>