@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <img src=~/img/HomePage.PNG style="margin-top: -10%;margin-left: -32%;width: 155%;filter: blur(5px);" />
    <div class="centered">
        <h2><b><font size="+20">FitnessProject</font></b></h2>
        <p>
            Gym is no hobby, is a way of life
        </p>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <div class="row">
        <div class="col-6">
            <br />
            <br />
            <h3 class="text-center"><b>Why should you train in the first place?</b></h3>
            <br />
            <br />
            <p style="margin-left: 20%;margin-right: 20%;">
                <font size="+1">
                    Regular physical activity can improve your muscle strength and boost your endurance. Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently. And when your heart and lung health improve, you have more energy to tackle daily chores.
                </font>
            </p>
        </div>

        <div class="col-6">
            <img src=~/img/Training.PNG style="border-style: solid;" />
        </div>
    </div>
</div>

<br />
<br />
<br />

<img src=~/img/Training3.PNG style="margin-left: -10%;width: 110%;filter: blur(5px);" />

<br />
<br />
<br />

<div>
    <div class="row">
        <div class="col-6">
            <img src=~/img/Training2.PNG style="margin-left: 20%;border-style: solid;" />
        </div>

        <div class="col-6">
            <br />
            <h3 class="text-center"><b>Is it late to start training?</b></h3>
            <br />
            <br />
            <p style="margin-left: 20%;margin-right: 20%;">
                <font size="+1">
                    Absolutely NO. No matter your age you can start training right now. Even if you are in your 40s, 50s, 60s, or 70s you can start hitting the gym. Of course, you should be careful with the equipment and the correct form when doing the exercises to minimize the chances of getting hurt. But that's it. Age is not the limiting factor, your mentality is...
                </font>
            </p>
        </div>
    </div>
</div>

<br />
<br />
<br />

<img src=~/img/Training4.PNG style="margin-left: -10%;width: 110%;filter: blur(5px);" />

<br />
<br />
<br />

<div>
    <div class="row">
        <div class="col-6" style="border-style: solid;">
            <br />
            <h3 class="text-center"><b>Pros of training</b></h3>
            <br />
            <br />
            <p style="margin-left: 20%;margin-right: 20%;">
                <font size="+1">
                    <ol style="margin-left: 10%;margin-right: 10%;">
                        <li>
                            Access to equipment that isn’t practical at home.
                            Most of us have limited space at home for workout equipment, so we have to pick and choose which ones we use often enough to justify owning. On the flip side, you’ll never have to wait your turn at home like you may in a crowded gym.
                        </li>
                        <br />
                        <li>
                            May help you stick to a routine.
                            Like it or not, to some extent we are all creatures of habit. Establishing a routine of stopping at the gym on the way home from work, or after you’ve dropped the kids off at school, for instance, might help you make regular workouts a reality.
                        </li>
                        <br />
                        <li>
                            Fewer distractions.
                            Kids, that pile of laundry, a dog that wants to go out exactly 18 times during your workout… these are all things you won’t have to deal with while working out at the gym.
                        </li>
                        <br />
                        <li>
                            Easy to meet up with a workout buddy.
                            Workout with a friend at the gym for more accountability, and probably more fun! Then again, you can still meet up for a buddy to walk or run in your neighborhood, or even to come workout with you at home if you’ve got enough room.
                        </li>
                        <br />
                        <li>
                            Access to fitness classes and personal trainers.
                            Depending on the gym and your type of membership, training sessions and/or fitness classes may be included — or available as an option for a additional fee.
                        </li>
                        <br />
                        <li>
                            Monetary motivation.
                            You’re paying for it, so you’d better use it! For some, this is great motivation!
                        </li>
                        <br />
                        <li>
                            Not dependent on weather.
                            If you’re a runner, or do any sort of outdoor workouts, a spell of bad weather can throw you for a loop. This, of course, isn’t an issue at the gym.
                        </li>
                        <br />


                    </ol >
                </font>
            </p>
        </div>
       
        <div class="col-6" style="border-style: solid;">
            <br />
            <h3 class="text-center"><b>Cons of training</b></h3>
            <br />
            <br />
            <p style="margin-left: 20%;margin-right: 20%;">
                <font size="+1">
                    <ol style="margin-left: 10%;margin-right: 10%;">
                        <li>
                       You have to leave the house.
For some people, knowing they’ll have to get in the car and drive to the gym is a big un-motivator. If that’s you, at-home workouts may be a much better option. Most gyms charge extra for childcare, so that may be a consideration — and if you have to work around kids’ naptimes, that can make it even more difficult.
                        </li><br />
                        <li>
Awkwardness.
We all know that the gym is a place people go to do some self-improvement, and they all had to start as beginners. But sometimes knowing this in our head doesn’t help how we feel, and that can make the gym an intimidating place for body insecurities or feeling awkward trying to figure out how to work the equipment.
                        </li><br />
                        <li>
Money.
Depending on your budget, gym membership fees can be a hardship. Working out at home costs nothing. Even if you invest in at-home workout equipment, this can be done a little at a time as money is available. If you’ve got an exercise mat and a few dumbbells, you have a lot of options for home workout routines, like this one.
                        </li><br />
                        <li>
Too much peopling.
If you’re an introvert, or just someone who needs a little time to yourself after a day at work or with the kids, it can be draining being around so many people. You can try to create your own little world within the gym by popping in headphones, but if you’re still distracted or overwhelmed, home workouts might be a better option. Then again, for some folks, being surrounded by other folks working out can be energizing.
                        </li><br />


                    </ol>
                </font>
            </p>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div style="border-style: solid;">
    <br />
            <h3 class="text-center"><b>To consider before joining a gym</b></h3>
            <br />
            <br />
            <p style="margin-left: 20%;margin-right: 20%;">
                <font size="+1">
                    Go visit! Every gym has a different feel and some may feel more comfortable to you than others. Ask if they offer a free trial; if they don’t, you can usually pay for a one-time day pass. I highly recommend this because walking through the gym on a guided tour is different than actually working out in the gym. Try to do this at the time of day you’ll most likely workout so you can get an accurate feel for things; you want to make sure this is a good fit for you!

Clarify what, if any, sign-up fees are involved — and be sure you understand what the terms or fees for cancellation are. Think about whether classes are important to you, so you’ll know if it’s worthwhile to upgrade. Ask how much childcare costs, if that’s relevant for you, and whether you’re required to register for it ahead of time.
                </font>
            </p>
            <br />
</div>

<br />
<br />
<br />

<style>
    /* Container holding the image and the text */
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>