@using FitnessProject.Core.Constants
@using FitnessProject.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<nav class="mt-2">

    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">

        <partial name="_LoginPartial" />


        <!-- HOME -->

        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fas fa-home"></i>
                <p>Home</p>
            </a>
        </li>



        <!-- FOODS -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-apple-alt"></i>
                <p>
                    Foods
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>

            <ul class="nav nav-treeview list-group" style="display: none;">

                <li class="nav-item">
                    <a  class="nav-link" style="width: auto;">
                        <i class="fas fa-cubes"></i>
                        <p>All</p>
                    </a>
                </li>

                @if (SignInManager.IsSignedIn(User))
                {

                    <li class="nav-item">
                        <a href="layout/top-nav-sidebar.html" class="nav-link" style="width: auto;">
                            <i class="fas fa-heart"></i>
                            <p>Favourites</p>
                        </a>
                    </li>

                    @if (User.IsInRole(UserConstants.Roles.Nutritionist) ||
                   User.IsInRole(UserConstants.Roles.Administrator))
                    {
                        <li class="nav-item">
                            <a asp-controller="Food" asp-action="Add" class="nav-link" style="width: auto;">
                                <i class="fas fa-plus"></i>
                                <p>Add</p>
                            </a>
                        </li>
                    }

                }
                else
                {
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link" style="width: auto;">
                            <i class="fas fa-heart"></i>
                            <p>Favourites</p>
                        </a>
                    </li>
                }


            </ul>
        </li>


        <!-- DIETS -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-newspaper"></i>
                <p>
                    Diets
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>

            <ul class="nav nav-treeview list-group" style="display: none;">

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a href="layout/top-nav.html" class="nav-link" style="width: auto;">
                            <i class="fas fa-cubes"></i>
                            <p>My Diets</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layout/boxed.html" class="nav-link" style="width: auto;">
                            <i class="fas fa-plus"></i>
                            <p>Create</p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link" style="width: auto;">
                            <i class="fas fa-cubes"></i>
                            <p>My Diets</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link" style="width: auto;">
                            <i class="fas fa-plus"></i>
                            <p>Create</p>
                        </a>
                    </li>
                }


            </ul>
        </li>



        <!-- EXERCISES -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-dumbbell"></i>
                <p>
                    Exercises
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>

            <ul class="nav nav-treeview list-group" style="display: none;">

                <li class="nav-item">
                    <a href="layout/top-nav.html" class="nav-link" style="width: auto;">
                        <i class="fas fa-cubes"></i>
                        <p>All</p>
                    </a>
                </li>

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a href="layout/top-nav-sidebar.html" class="nav-link" style="width: auto;">
                            <i class="fas fa-heart"></i>
                            <p>Favourites</p>
                        </a>
                    </li>

                    @if (User.IsInRole(UserConstants.Roles.Trainer) ||
                   User.IsInRole(UserConstants.Roles.Administrator))
                    {
                        <li class="nav-item">
                            <a href="layout/boxed.html" class="nav-link" style="width: auto;">
                                <i class="fas fa-plus"></i>
                                <p>Add</p>
                            </a>
                        </li>
                    }

                }
                else
                {
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link" style="width: auto;">
                            <i class="fas fa-heart"></i>
                            <p>Favourites</p>
                        </a>
                    </li>
                }

            </ul>
        </li>


        <!-- WORKOUTS -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-fire-alt"></i>
                <p>
                    Workouts
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>

            <ul class="nav nav-treeview list-group" style="display: none;">

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a href="layout/top-nav.html" class="nav-link" style="width: auto;">
                            <i class="fas fa-cubes"></i>
                            <p>My Workouts</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layout/boxed.html" class="nav-link" style="width: auto;">
                            <i class="fas fa-plus"></i>
                            <p>Create</p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link" style="width: auto;">
                            <i class="fas fa-cubes"></i>
                            <p>My Workouts</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link" style="width: auto;">
                            <i class="fas fa-plus"></i>
                            <p>Create</p>
                        </a>
                    </li>
                }


            </ul>
        </li>


        <!-- MANAGE -->
        @if (@User.IsInRole(UserConstants.Roles.Administrator))
        {
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-edit"></i>
                    <p>
                        Manage
                    </p>
                </a>
            </li>
        }



    </ul>

    <div class="fixed-bottom" style="width: 2%;">
        <ul class="nav nav-pills nav-sidebar flex-column " role="menu" data-accordion="false" style="padding-left: 8px;">

            <!-- ABOUT US -->

            <li class="nav-item">
                <a asp-controller="AboutUs" asp-action="About" class="nav-link">
                    <i class="fas fa-info-circle"></i>
                    <p>
                        About us
                    </p>
                </a>
            </li>


            <!-- CONTACT US -->

            <li class="nav-item">
                <a asp-controller="AboutUs" asp-action="Contact" class="nav-link">
                    <i class="fas fa-comments"></i>
                    <p>
                        Contact us
                    </p>
                </a>
            </li>

            <br>
        </ul>
    </div>
</nav>