  <section class="map">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <p class="map-text">
                        <b> Работно време: </b><br>
                        понеделник-петък: <br>
                        9.30  - 19.00 ч. <br>
                        събота: <br>
                        10.00 - 14.00 ч. и 14.30 - 18.00 ч. <br>
                        неделя: <br>
                        10.00 - 13.30 ч. и 14.00 - 17.00 ч. <br>
                    </p>
                </div>
                <div class="col-6">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=sofia%20bulgaria%20fitness&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://fmovies-online.net"></a>
                            <br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style>
                            <a href="https://www.embedgooglemap.net">
                                add google map
                            </a>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
