@{
    ViewData["Title"] = "About";
}


</div>

<section class="map">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card" style="margin-left: 20%;place-items: center;">
                    <div class="card-header ">
                        <h3 class="card-title" style="align:middle">Work time</h3>
                    </div>

                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>8:30 - 18:30</td>
                                </tr>

                                <tr>
                                    <td>Tuesday</td>
                                    <td>8:00 - 17:30</td>
                                </tr>

                                <tr>
                                    <td>Wednesday</td>
                                    <td>8:00 - 18:00</td>
                                </tr>

                                <tr>
                                    <td>Thursday</td>
                                    <td>8:30 - 17:30</td>
                                </tr>

                                <tr>
                                    <td>Friday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>

                                <tr>
                                    <td>Saturday</td>
                                    <td>10:00 - 16:00</td>
                                </tr>

                                <tr>
                                    <td>Sunday</td>
                                    <td>Day off</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div style="width: 60%;margin-left: 20%;">
                    <br />
                    <h3 class="text-center"><b>What is our purpose ?</b></h3>
                    <br />
                    <br />
                    <p>
                        We want to give everyone equal chances to change both mentally and physically into the best version of themselves. We can help you with finding the best exercises for your needs, the best foods to eat before and after a workout, the best supplements, etc. Our mission is to make better your list of excuses thinner when it comes to starting going to the gym!
                    </p>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-8">
                <div style="width: 60%;margin-left: 20%;">
                    <h3 class="text-center"><b>Where to find us ?</b></h3>
                    <br />
                    <br />
                    <p>
                        We have offices and trainer all over the country. If you want to contact with us you can use the contact page or directly call us. We can't wait to help you achieve your wanted goal!
                    </p>

                    <br />
                    <br />
                    <h3 class="text-center"><b>How to reach us ?</b></h3>
                    <br />
                    <br />
                    <ul>
                        <li>
                            On our email: FitnessProject@gmail.com
                        </li>
                        <li>
                            On our phone: +123 456 7890
                        </li>
                        <li>
                            Live in our office
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-4 ">
                <div class="mapouter">
                    <div class="gmap_canvas" style="border: 2px solid black">
                        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=sofia%20bulgaria%20fitness&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://fmovies-online.net"></a>
                        <br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 400px;
                                width: 500px;
                            }
                        </style>
                        <a href="https://www.embedgooglemap.net">
                            add google map
                        </a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 400px;
                                width: 500px;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


